<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43455085448-3vid2hrpicd10sso5v37v3ge1tv3qdri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43455085448-3vid2hrpicd10sso5v37v3ge1tv3qdri</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>43455085448-mnltjis4q517g1qm0gajimf1i5rtt4jq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBX_lCk4ZfhIvcKUMQFmB10WOs4Ew1NxP0</string>
	<key>GCM_SENDER_ID</key>
	<string>43455085448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.namaz.tracker.app</string>
	<key>PROJECT_ID</key>
	<string>islamic-companion-a14ea</string>
	<key>STORAGE_BUCKET</key>
	<string>islamic-companion-a14ea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43455085448:ios:232da868f18f0eb1f8983d</string>
</dict>
</plist>